<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>DZIALY</title>
    <!--/*/ <th:block th:include="fragments/general.html :: headerData" /> /*/-->
</head>
<body>
    <header><!--/*/ <th:block th:include="index.html :: header" /> /*/--></header>
    <nav><!--/*/ <th:block th:include="index.html :: nav" /> /*/--></nav>
    <section>
        <aside>
            <fieldset class="border">
                <form th:if="${info == null}" action="#" th:action="@{/departments}" method="post">
                    <button type="submit" class="btn btn-primary" name="addDepartment">Dodaj dział</button>
                </form>
                <div th:if="${info != null}">
                    <form action="#" th:action="@{/departments}" method="post" th:object="${department}">
                        <div class="form-group">
                            <label class="field-name" for="deptName">Nazwa działu:</label>
                            <input type="text" id="deptName" class="form-control" placeholder="wpisz nazwę działu"
                                   name="deptName" th:field="*{deptName}">
                            <p class="error" th:if="${#fields.hasErrors('deptName')}" th:errors="*{deptName}"></p>
                        </div>
                        <button type="submit" class="btn btn-primary">Zapisz</button>
                        <button type="reset" value="Reset">Reset</button>
                    </form>
                </div>
            </fieldset>
        </aside>
        <article>
            <div id="c1" class="container">
                <h2>Lista działów:</h2>
                <form action="#" th:action="@{/departments}" method="get">
                    <div class="form-group">
                        <input type="text" class="form-control" th:name="deptNamePhrase" placeholder="zawiera w nazwie ...">
                        <button type="submit" class="btn btn-primary" name="search">szukaj</button>
                    </div>
                </form>
                <div th:if="${not #lists.isEmpty(foundDepartments)}">
                    <table class="table table-hover table-light">
                        <thead>
                            <tr>
                                <th>Nazwa</th>
                                <th>Pracownicy</th>
                                <th>Projekty</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="d : ${foundDepartments}">
                                <td th:text="${d.deptName}"></td>
                                <td>
                                    <ul class="inTableList" th:each="e : ${d.employees}">
                                        <li th:text="${e}">...</li>
                                    </ul>
                                </td>
                                <td>
                                    <ul class="inTableList" th:each="project : ${d.projects}">
                                        <li th:text="${project}">...</li>
                                    </ul>
                                </td>
                                <td>
                                    <a sec:authorize="hasAuthority('ADMIN')" th:href="@{'/departments/editDepartment/'+${d.id}}">
                                        <!--/*/ <th:block th:include="fragments/general.html :: edit-icon" /> /*/-->
                                    </a>
                                </td>
                                <td>
                                    <a sec:authorize="hasAuthority('ADMIN')" th:href="@{'/departments/' + ${d.id}}">
                                        <!--/*/ <th:block th:include="fragments/general.html :: delete-icon" /> /*/-->
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="pagination" th:if="${pageNumbers > 0}">
                        <span>
                            <a href="#">&laquo;</a>
                        </span>
                        <span  th:each="pageNumber : ${#numbers.sequence(0, pageNumbers - 1)}">
                            <a th:text="${pageNumber + 1}"
                               th:href="@{/departments(deptNamePhrase=${givenPhrase},
                               currentPage=${pageNumber})}">...</a>&nbsp;
                        </span>
                        <span>
                            <a href="#">&raquo;</a>
                        </span>
                    </div>
                </div>
            </div>
        </article>
    </section>
    <footer><!--/*/ <th:block th:include="fragments/general.html :: footer" /> /*/--></footer>
</body>
</html>