<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>HOME</title>
    <!--/*/ <th:block th:include="fragments/general.html :: headerData" /> /*/-->
</head>
<body>
<header th:fragment="header">
    <h2>PDCA CYCLE MANAGER</h2>
</header>
<nav></nav>
<section>
    <aside></aside>
    <article>
        <h1 style="text-align:center">Polityka prywatności serwisu pdca-cycle-manager.herokuapp.com</h1>
        <ol>
            <li><p>Niniejsza Polityka Prywatności określa zasady przetwarzania i ochrony danych osobowych
                przekazanych przez Użytkowników w związku z testowaniem przez nich aplikacji webowej
                ‘pdca-cycle-manager.herokuapp.com’ zwanej dalej Aplikacją lub Serwisem.</p></li>
            <li><p>Administratorem danych osobowych zawartych w serwisie jest Daniel Żyła zamieszkały przy ul.
                Azaliowej 1 w Pruszczu Gdańskim (PL).</p></li>
            <li><p>Serwis zbiera informacje dobrowolnie podane przez użytkownika w postaci loginu i adresu email.</p>
            </li>
            <li><p>Serwis nie stosuje plików cookies.</p></li>
            <li><p>Dane podane w formularzu rejestracji są przetwarzane w celu umożliwienia użytkownikowi korzystania
                z funkcjonalności aplikacji w celu jej testowania. </p></li>
            <li><p>Dane Użytkownika takie jak login i adres email, a w szczególności mające charakter danych osobowych, pozostawione w serwisie nie zostaną sprzedane ani udostępnione osobom
                trzecim, zgodnie z przepisami Ustawy o ochronie danych osobowych.</p></li>
            <li><p>Do danych zawartych w formularzu przysługuje wgląd osobie fizycznej, która je tam umieściła. Osoba
                ta ma również prawo do modyfikacji i zaprzestania przetwarzania swoich danych w dowolnym momencie, z
                zastrzeżeniem postanowień <a href="/regulations">Regulaminu</a>.</p></li>
            <li><p>W Serwisie mogą pojawiać się linki do innych stron internetowych. Takie strony internetowe
                działają niezależnie od Serwisu i nie są w żaden sposób nadzorowane przez serwis
                pdca-cycle-manager.herokuapp.com. Strony te mogą posiadać własne polityki dotyczące prywatności oraz
                regulaminy, z którymi zalecam się zapoznać. W razie wątpliwości co do któregokolwiek z zapisów
                niniejszej polityki prywatności zapraszam do kontaktu.</p></li>
            <li><p>Aplikacja została umieszczona na serwerze zlokalizowanym poza obszarem Unii Europejskiej za pomocą serwisu Heroku należącego do firmy Saleforce (<a href="https://www.heroku.com/contact">www.heroku.com/contact</a>). Więcej informacji na temat zgodności Heroku z RODO mozna znaleźć <a href="https://devcenter.heroku.com/articles/gdpr">tutaj</a>.</p></li>
            <li><p>Dane kontaktowe:<br>
                Adres poczty elektronicznej - pdca.app@gmail.com<br>
                Połączenie telefoniczne - +48 661 396 647</p></li>
        </ol>
    </article>
</section>
<footer><!--/*/ <th:block th:include="fragments/general.html :: footer" /> /*/--></footer>
</body>
</html>